
@if (isLoading) {
      <div class="spinner-overlay">
        <p-progressSpinner></p-progressSpinner>
    </div>
}


@if (courses != undefined && courses.length > 0) {
      <h2>{{title}}</h2>
      <p-carousel
            [value]="courses"
            [numVisible]="5"
            [numScroll]="1"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
            [showNavigators]="true"
            [showIndicators]="false"
            class="udemy-carousel"
            >
            <ng-template let-item pTemplate="item">   
                  <app-item [item]="item" /> 
            </ng-template>
                  
      </p-carousel>
      <br>
}@else {
      
}

@if (!isLoading && courses==null) {
      <h1>Network Error</h1>
}


   