<div class="course-layout">
  <div class="course-content">
    <p-accordion [multiple]="true">
      @for (section of item.Content; track $index) {
        <p-accordionTab [header]="section.Title">
          <ul class="lesson-list">
            @for (lesson of section.Lessons; track $index) {
              <li>
                <i class="pi pi-play-circle"></i> {{ lesson.Title }}
              </li>
            }
          </ul>
        </p-accordionTab>
      }
    </p-accordion>
  </div>
</div>